<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>User Control Panel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="../public/css/normalize.css"/>
    <link type="text/css" rel="stylesheet" href="../public/css/user.css"/>
    <link type="text/css" rel="stylesheet" href="../public/icon/css/all.css"/>
    <link type="text/css" rel="stylesheet" href="../public/icon/css/fontawesome.css"/>
        <link rel="stylesheet" href="../public/css/bootstrap.min.css">
</head>

<body>
<div class="container">
    <div class="left-menu">
        <ul class="left-menu-inner">
            <li class="left-menu-item active">
                <i class="far fa-calendar-check"></i> Đơn đặt chỗ của tôi
            </li>
            <li class="left-menu-item">
                <i class="far fa-comment-dots"></i> Hộp thư
            </li>
            <li class="left-menu-item">
                <i class="far fa-star"></i> Nhận xét
            </li>
            <li class="left-menu-item">
                <i class="fab fa-vine"></i> Dịch vụ VIP
            </li>
            <li class="left-menu-item">
                <i class="fas fa-dollar-sign"></i> Tiền Travelo
            </li>
            <li class="left-menu-item">
                <i class="far fa-user-circle"></i> Profile
            </li>
        </ul>
    </div>
    <div class="user-panel">
        <div class="banner">
            <div class="banner-container">
                <div class="banner-logo">
                    <i class="fas fa-star" style="color: #f7e46c"></i>AgodaVIP
                </div>
                <div class="banner-content">
                    <h5 id="banner-content-header" style="margin: 0">
                        Duy thích làm khách VIP không?
                    </h5>
                    <p id="banner-content-text" style="margin: 0">
                        Hãy hoàn thành thêm 5 lượt đặt phòng để mở khóa các giảm giá và lợi ích VIP
                    </p>
                </div>
                <div class="banner-button">
                    <button class="banner-learn-more">Tìm hiểu thêm</button>
                </div>
            </div>
        </div>
        <div class="user-panel-container">
            <div class="my-booking-filter">
                <div class="my-booking-header">
                    <div class="filter-container">
                        <div class="filter-option active">
                            <a href="">Sắp tới</a>
                        </div>
                        <div class="filter-option">
                            <a href="">Hoàn tất</a>
                        </div>
                        <div class="filter-option">
                            <a href="">Đã huỷ</a>
                        </div>
                    </div>
                    <div class="block-switch">
                        <div class="switch-title">
                            Sắp xếp theo
                        </div>
                        <div class="switch-option">
                            <a href="">Ngày đặt phòng</a>
                        </div>
                        <div class="switch-option">
                            <a href="">Ngày nhận phòng</a>
                        </div>
                    </div>
                </div>
                <div class="room-number-search">
                    <div class="room-number-search-header">
                        <p>Mã số đặt phòng</p>
                    </div>
                    <div class="room-number-search-button">
                        <label for="booking-id"></label><input id="booking-id" placeholder="Mã số đặt phòng" value="">
                        <button type="button" class="btn btn-secondary room-search-button">Tìm</button>
                        <button type="button" class="btn btn-light room-search-button">Xoá</button>
                    </div>
                </div>
            </div>
            <div class="no-booking-panel">
                <img src="../public/img/illustration-empty.png" alt="">
                <div class="no-booking-content">
                    <div class="no-booking-title">
                        <h4>Quý khách không có đơn đặt chỗ sắp tới.</h4>
                        <p>
                            Quý khách đang tìm đơn đặt chỗ <a href="">đã qua</a> hay
                            <a href="">đã huỷ</a>??
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script crossorigin src="https://unpkg.com/react@17/umd/react.production.min.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="../public/js/popper.min.js">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.21.1/babel.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="../public/js/user/index.js"></script>
<script src="../public/js/user/formvalidate.js"></script>
</body>

</html>