<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="../public/css/normalize.css" />
    <link type="text/css" rel="stylesheet" href="../public/icon/css/all.css" />
    <link type="text/css" rel="stylesheet" href="../public/icon/css/fontawesome.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>User</title>
</head>

<body>
    <div class="left-menu">
        <div class="left-menu-container">
            <ul class="left-menu-inner">
                <li class="left-menu-item">
                    <i class="far fa-calendar-check"></i> Đơn đặt chỗ của tôi
                </li>
                <li class="left-menu-item">
                    <i class="far fa-comment-dots"></i> Hộp thư
                </li>
                <li class="left-menu-item">
                    <i class="far fa-star"></i> Nhận xét
                </li>
                <li class="left-menu-item">
                    <i class="fab fa-vine"></i> Dịch vụ VIP
                </li>
                <li class="left-menu-item">
                    <i class="fas fa-dollar-sign"></i> Tiền Tra
                </li>
                <li class="left-menu-item">
                    <i class="far fa-user-circle"></i> Profile
                </li>
            </ul>
        </div>
    </div>
    <div class="user-control">

    </div>


    <script crossorigin src="https://unpkg.com/react@17/umd/react.production.min.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.21.1/babel.min.js"></script>
</body>

</html>