body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

li {
    list-style-type: none;
    padding: 0;
}

ul {
    padding: 0;
}

select {
    border: none;
    outline: none;
    background-color: #f2f2f2;
}

/*Header*/

#header {
    overflow: auto;
    background-color: #003580;
    height: 110px;
    display: inline-block;
    width: 100%;
}

/*Top Header*/

.top-nav {
    display: flex;
    justify-content: center;
    height: 30%;
}

.container-top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    height: 100%;
    font-size: 12px;
    color: white;
    font-weight: lighter;
}

.container-top-nav li {
    cursor: pointer;
}

.pull-left {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.pull-left a {
    text-decoration: none;
    color: white;
}

.pull-left li {
    padding: 0 10px;
}

.pull-right {
    display: flex;
    margin: 0;
}

.pull-right li {
    line-height: 30px;
    margin-left: 20px;
    font-weight: 700;
}

.pull-right li:first-child {
    padding: 0 10px;
    border: 1px solid white;
    border-radius: 3%;
    height: 30px;
    line-height: 30px;
    font-size: 13px;
}

.pull-right li:first-child:hover {
    background-color: #1554ad;
}

.pull-right li:last-child,
.pull-right li:nth-child(2) {
    background-color: white;
    border-radius: 3%;
    color: black;
    padding: 0 10px;
}

.pull-right li:last-child:hover,
.pull-right li:nth-child(2):hover {
    color: #01b7f2;
}

/*Main-Menu*/

.main-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    position: relative;
}

.container-main-header {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 70%;
}

div.logo {
    line-height: 84px;
    cursor: pointer;
}

.main-menu {
    width: 70%;
}

.main-menu .menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    margin: 0;
}

.menu li {
    margin-left: 80px;
    font-size: 14px;
    cursor: pointer;
    opacity: 0.6;
    text-align: center;
    font-weight: 600;
    color: white;
}

.menu li:hover {
    color: #01b7f2;
}

ul.menu li i {
    margin-right: 5px;
}

/*Finder*/

div.search {
    height: 420px;
    display: flex;
    justify-content: center;
    /*margin-top: 40px;*/
    background-image: url("https://mytourcdn.com/themes/dist/images/bg-banner-home.png"),
        linear-gradient(0, #459ff5, #1c7ed8);
}
.search-container {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-box {
    width: 30%;
    background-image: linear-gradient(0, #459ff5, #1c7ed8);
    border-radius: 2%;
    height: 90%;
    padding: 0 15px 0 15px;
}

.search-wrapper {
    display: flex;
}

.nav-tabs-search {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

ul.nav-tabs-search {
    margin: 0 0 30px 0;
}

.nav-tabs-search .left {
    padding: 16px;
    width: 50%;
    text-align: center;
    color: white;
    cursor: pointer;
    border-bottom: 2px solid white;
    font-weight: 700;
    font-size: 17px;
}

.nav-tabs-search .right {
    padding: 16px;
    width: 50%;
    text-align: center;
    color: white;
    cursor: pointer;
    font-weight: 700;
}

.nav-tabs-search .left i,
.nav-tabs-search .right i {
    margin-right: 6px;
}

.search-box-input i {
    /*margin: 0 auto;*/
    position: absolute;
}

.search-box-input .input-items {
    width: 100%;
    display: flex;
}

.search-box-input .icon {
    font-size: 20px;
    padding: 15px;
    min-width: 40px;
    text-align: center;
}

.search-box-input .input-fields {
    width: 100%;
    padding: 10px;
    text-align: center;
    border: none;
    margin-bottom: 18px;
    border-radius: 3px;
}

.search-box-input .date {
    display: flex;
    justify-content: space-between;
}

.search-box-input .datepicker {
    padding-left: 20px;
    outline: none;
    border-color: #01b7f2;
}

.search-box-input .date-picker {
    width: 49%;
}

.search-box-input .checkout {
}

.input-items .room-guest-select {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.input-items .room-guest-select .amount-item {
    position: relative;
    display: flex;
}

.input-items .room-guest-select .amount-item input {
    text-align: center;
    border: none;
    border-radius: 3px;
    width: 100%;
    padding: 8px 7px 8px 0;
}

.input-items .room-guest-select-text {
    position: absolute;
    padding-left: 12px;
    line-height: 40px;
}

.input-items .room-guest-select .change-data {
    display: none;
}

.search-btn {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    width: 100%;
}
.search-btn .search-submit {
    width: 100%;
    padding: 12px 0;
    border: none;
    outline: none;
    border-radius: 3px;
    font-weight: 700;
    font-size: 20px;
    color: white;
    background-color: #ed4079;
}

/*Search Slideshow */
/* #carouselResponsive {
    max-width: 70%;
}

.carousel-inner .carousel-item img {
    width: 738px;
    height: 338px;
} */
/*Search by Property*/

.search-by-property {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.search-by-property-container {
    width: 70%;
}

.build__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.text-header {
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 26px;
}

.build__inner .inner__item img {
    border-radius: 4%;
    border: none;
    outline: none;
    width: 207px;
    height: 198px;
    overflow: hidden;
    position: relative;
    display: inline-block;
}

.property-img {
    overflow: hidden;
}

.build__inner .inner__item img:hover {
    transform: scale(1.1);
    transition: 0.5s;
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.build__inner .inner__item h3 a {
    font-size: 20px;
}

.build__inner .inner__item .subtitle {
    font-size: 14px;
}

/*Khám phá Việt Nam */
.largest-popular {
    display: flex;
    justify-content: center;
}

.largest-popular-container {
    width: 70%;
}

.build-carousel {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.build-title__text {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
}

.build-title__subtitle {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.bui-card__content .bui-card__title {
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    margin-top: 9px;
}

.bui-title__subtitle {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #6b6b6b;
}

.bui-carousel__inner {
    display: flex;
    flex-wrap: wrap;
}

.bui-carousel__item .bui-card__image-container img {
    width: 207px;
    height: 180px;
    border-radius: 4%;
    transition: fadeIn 0.5s;
}

.bui-carousel__item .bui-card__image-container img:hover {
    /*opacity: 0.7;*/
    /*transition: 0.6s;*/
    box-shadow: 0 0 30px;
}

/* Nhà ở mà khách yêu thích */
.main-title {
}

span {
    display: block;
}

.index__section {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    flex-wrap: wrap;
}

.index__section-container {
    width: 70%;
}

.bui-carousel {
}

.bui-carousel__inner {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.bui-card__title .new--title {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

.bui-card__content .bui-title__subtitle {
    margin: 0;
    padding: 0;
}

.build-title__subtitle-description {
    margin-top: 12px;
    margin-bottom: 16px;
}

.bh-carousel--new__price {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 0;
}

.bui-review-score {
    font-size: 14px;
    margin-top: 12px;
}

.bui-review-score .bui-review-score__badge {
    width: 28px;
    height: 28px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    background-color: #003580;
    color: #fff;
    align-items: center;
    display: flex;
    justify-content: center;
    vertical-align: baseline;
    border-radius: 6px 6px 6px 0;
}

.bui-review-score .bui-review-score__title {
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    color: #003580;
}

.bui-review-score {
    display: flex;
    justify-content: flex-start;
}

.bui-review-score__content {
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.bui-review-score__title {
}

.bui-review-score__text {
    justify-content: center;
    padding-left: 20px;
}

.bui-card__image-container__1 img {
    width: 260px;
    height: 210px;
    /* border-radius: 4%; */
}

.build__inner .inner__item .property-img {
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    width: 207px;
    height: 180px;
    border-radius: 4%;
}

/*FOOTER*/

.footer {
    display: flex;
    justify-content: center;
    background-color: #fafafa;
    margin-top: 200px;
}

.footer-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.footer-container .footer-logo {
    width: 100%;
}

.footer h3 {
    font-size: 12px;
}

.footer-main {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.footer-faq {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.footer-title {
    margin-bottom: 30px;
}

.footer-img {
    margin-top: auto;
    width: 30%;
}

@keyframes fadeIn {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.7;
    }
}

@keyframes transForm {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}
