body {
  font-family: mallory, Helvetica Neue, Helvetica, Arial, sans-serif !important;
}

h1, h2, h3, h4, p {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none !important;
}

.container {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;

}

.left-menu {
  min-height: 100%;
  width: 25%;
  border: none;
  outline: none;
  border-radius: 3px;
  box-shadow: 7px 0 8px #e9ebee;

  .left-menu-inner {
    margin: 0;
    padding: 0;

    li {
      font-weight: 600;
      font-size: 15px;
      padding: 16px;
      cursor: pointer;
      color: #007bff;

      i {
        margin-right: 6px;
        font-size: 22px;
      }
    }

    .active {
      background-color: #f8f7f9;
      border-right: 5px solid #5392f9;
    }

    :not(.active):hover {
      background-color: #5392f9;
      color: white;
    }
  }
}

.user-panel {
  width: 70%;

  .banner {
    box-shadow: 0 4px 10px 0 #bec2c9;
    border-radius: 2px;
    display: flex;

    .banner-container {
      padding: 14px;
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;

      .banner-logo {
        background-color: rgb(29, 33, 41);
        color: white;
        padding: 10px;
        border-radius: 20px;
      }

      .banner-content {
        padding: 0 4px;
        line-height: 2;

        h4 {
          padding: 4px;
        }

        p {
          font-size: 16px;
        }
      }

      .banner-button {
        .banner-learn-more {
          font-size: 16px;
          color: white;
          padding: 10px;
          background-color: #5392f9;
          border: none;
          outline: none;
          border-radius: 15px;
        }
      }
    }
  }

  .user-panel-container {
    height: 100%;
    margin-top: 30px;

    .my-booking-filter {

      .my-booking-header {
        display: flex;
        justify-content: space-between;

        .filter-container {
          display: flex;

          .filter-option {
            font-size: 18px;
            padding: 12px;
          }

          .active {
            border-bottom: 3px solid #5392f9;
          }

          .active a {
            color: black;
          }
        }

        .block-switch {
          display: flex;
          border: 1px solid #cccccc;

          .switch-title, .switch-option {
            padding: 12px;
            font-size: 17px;
          }
        }
      }

      .room-number-search {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        position: relative;

        .room-number-search-header {
          p {
            font-size: 16px;
            font-weight: 500;
          }
        }

        .room-number-search-button {
          height: 100%;
          display: flex;
          align-items: center;

          input {
            color: rgb(42, 42, 46);
            font-size: 18px;
            padding: 6px 0 8px 6px;
            border: 1px solid rgb(206, 208, 212);
            outline-color: #75a8f9;
            border-radius: 2px;
            width: 300px;
          }

          .room-search-button {
            margin-left: 20px;
            padding: 9px;
          }
        }
      }
    }
  }

  .no-booking-panel {
    margin-top: 80px;
    display: flex;
    justify-content: center;

    img {
      width: 161px;
      height: 125px;
    }

    .no-booking-content {
      margin-left: 14px;
    }
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1300px !important;
  }

}
